@inject UserManager<ApplicationUser> userManager;

@if (!User.Identity.IsAuthenticated)
{
        <li class="menu-item">
        <a class="nav__link" asp-controller="Account" asp-action="Index">
            <i class="bi bi-box-arrow-in-right"></i> Log in
        </a>
        </li>
        <li class="menu-item">
            <a class="nav__link" asp-controller="Account" asp-action="Register">
                <i class="bi bi-person-plus"></i> Register
            </a>
        </li>
}   
else
{
    @*User Profile section*@
       <li class="menu-item">
           <a class="nav__link">
                    <i class="bi bi-person-badge"></i> Hello @userManager.GetUserAsync(User).Result.Name
           </a>
           
     </li>

        <li class="menu-item">
            <a class="nav__link">
                <form asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="btn btn-danger">
                          <i class="bi bi-box-arrow-in-right"></i> Log out
                    </button>
                 </form>
            </a>

     </li>

      
}