@inject UserManager<ApplicationUser> userManager;

@if (User.Identity.IsAuthenticated && User.IsInRole(SD.Role_Admin))
{
    
    <a asp-controller="Service" asp-action="Index" class="dashboard-nav-item  ">
        <i class="fa-solid fa-walkie-talkie"></i>
        Services Component
    </a>
    <a asp-controller="Contacts" asp-action="Index" class="dashboard-nav-item">
        <i class="fa-solid fa-walkie-talkie"></i>
        Contacts Components
    </a>
    <a asp-controller="Account" asp-action="Users" class="dashboard-nav-item  ">
        <i class="fa-solid fa-walkie-talkie"></i>
        Users Component
    </a>

}