


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="~/images/error.jpg" alt="error" class="image-style">
            </div>
            <div class="col-md-12">
                <h1 class="text-erro">You do not have validity</h1>
            </div>
        </div>
    </div>
