@model UserRolesViewModel

@{
    ViewData["Title"] = "Update User";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

<h1 class="h1-header mt-5">Update List</h1>
<div class="row">
    <div class="col-md-4 offset-1">
        <p>
            <h4>
                List of all users
            </h4>
        </p>
     <form asp-action="Update" method="post" enctype="multipart/form-data">
        <label hidden class="form-label" asp-for="Email"></label>
        <input hidden class="form-control" asp-for="Email" />
        <label class="form-label" asp-for="Name"></label>
        <input disabled class="form-control" asp-for="Name" />
        <label class="form-label" asp-for="Roles"></label>
        <select class="form-control selectpicker bs-select-hidden single-select" asp-for="@Model.UserRoles" asp-items="@Model.Roles">
            <option>Please select one</option>
        </select>

        <input class="btn btn-outline-success my-3" type="submit" value="Update User" />
    </form>
    </div>
</div>

