@{
    ViewData["Title"] = "Home Page";
}

        <section class="section-1">
            <img src="~/assets/images/back-image.jpg" alt="">
        </section>
        <section id="about-section" class="p-100 pb-2 ">
            <div class="container-padding">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 text-center">
                        <img src="~/assets/images/back-about.png" alt="Signature" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p class="color-base">ABOUT US!</p>
                        <h2 class=" mb-4">Are you looking for the best services <span class="color-base">Saham
                                Application</span>
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione reprehenderit temporibus
                            possimus ducimus vero nam magnam iste, explicabo facilis nisi recusandae voluptatem
                            molestiae adipisci, qui voluptatum provident blanditiis beatae deserunt.
                        </p>
                        <div class="row">
                            <div class="col-md-6 about-bullet">
                                <ul class="bullet-check">
                                    <li> Scheduled delivery</li>
                                    <li> Same day delivery service</li>
                                </ul>
                            </div>
                            <div class="col-md-6 about-bullet">
                                <ul class="bullet-check">
                                    <li> Special delivery service</li>
                                    <li> Storage Service</li>
                                </ul>
                            </div>
                        </div>
                        <div class="wrap-button mt-50">
                            <a href="#" class="btn btn-medium btn-inline btn-fill mr-4">Contact Us</a>
                        </div>
                    </div>
                </div>

                <div class="about-info-wrap p-100">
                    <div class="about-info">
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class=" text-uppercase mb-4">Contact Now</h6>
                                <p><i class="fas fa-envelope-open-text mr-2 color-base"></i>freebootstrapui@gmail.com
                                </p>
                                <p><i class="fas fa-phone-alt mr-2 color-base"></i>+012 345 678 910</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class=" text-uppercase mb-4">Address</h6>
                                <p><i class="fas fa-map-marker-alt mr-2 color-base"></i>145 heera nager, jaipur ,India

                                </p>
                            </div>
                            <div class="col-md-4">
                                <h6 class=" text-uppercase mb-4">Social Media</h6>
                                <p><i class="far fa-comment-alt mr-2 color-base"></i>Also find us social media below</p>

                                <div class="inline-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>