@model Shipment

@{
    ViewBag.Title = "Track Shipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*    <section class="section-Shipment">
                <h1>Track Shipment تتبع الشحنة</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" class="search-input form-control text-center"
                                        placeholder="ex 12345678901234 مثال">
                                    <button type="submit"> تتبع | Track </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8">
                            <div class="result">
                                <h1>لا يوجد نتائج</h1>
                            </div>
                        </div>
                    </div>
                </div>
      </section>*@


      <input type="text" id="search" placeholder="Search by category Name"/> 

        <table id="catList" class="table table-bordered table-striped text-center" style="margin-top:20px;height:auto">
                    <thead class="text-uppercase" style="font-weight:bold; font-size:20px;">
                        <tr>
                            <td>Order Number</td>
                            <td>Merchan Name</td>
                          
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.ShipmentsProducts)
                        {
                            <tr class="text-center" id="row_@item.Id">
                                <td style="padding-top:36px;font-size:20px;">@item.Description</td>
                                <td style="padding-top:36px;font-size:20px;">@item.IsBreakable</td>
                            
                            </tr>
                        }
                    </tbody>
                </table>

                <script>
                    
                $(document).ready(function () {
                        $("#search").keyup(function () {
                            $("#catList").hide("fast");

                            var newStrSearch = $("#search").val();

                            //var newStrSearch = $("#search").val();


                            $.ajax({
                                type: "POST",
                                url: "/Shipment/ViewCategory",
                                data: { searchString: newStrSearch },
                                success: function (categories) {
                                    //code to show result data in View page
                                }
                            });
                        });
                    });
                </script>