   
 
@{
    ViewBag.Title = "Track Shipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section class="section-Shipment">
                <h1>Track Shipment تتبع الشحنة</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <form action="">
                                <div class="form-group">
                                    <input type="text" class="search-input form-control text-center"
                                        placeholder="ex 12345678901234 مثال">
                                    <button type="submit"> تتبع | Track </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8">
                            <div class="result">
                                <h1>لا يوجد نتائج</h1>
                            </div>
                        </div>
                    </div>
                </div>
      </section>